body {
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

* {
    z-index: 2;
}

/* Header */
header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}

/* Main */
main {
    width: 1024px; 
    margin: 0 auto;    
}

/*_________________ Home + PetList + Contact Hero images _____________*/

#home header {
    background: url(/images/group-pets-1.png) repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
}

#petList header {
    background: url(/images/group-pets-2.jpg) repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
}

#contact header {
    background: url(/images/group-pets-3.jpg) repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
}

/*_________________ Home Page _____________*/

.main-header {
    background-color: rgba(225, 225, 225, 0.9);
    width: 700px;
    margin:7em auto 0 auto;
    min-height: 100px;
    height: 100px;
}

.main-header .logo img {
    width: 100px;
    float: left;
}

/* Navigation */
.main-menu {
    margin-left: 180px;
    /* margin: auto; */
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 35px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 15px;
}

.main-menu ul li a {
    text-decoration: none;
    font-weight: 400;
    color: #888;
}

.main-menu ul li a:hover {
    text-decoration: none;
    /* color: #FF7F00; */
    color: red;
    font-weight: bold;
}

.main-menu ul li.active {
    background: red;
    border: none;
}

.main-menu ul li.active a {
    color: white;
    font-weight: bold;
}

/* Logo name */
#space-font, #info-box {
    font-family: 'Montserrat', sans-serif; 
}

/*_________________ PetList Page _____________*/

#pet-gallery-container {
    position: relative;
}

#petGallery li {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

h1, li .name {
    font-family: 'Bubblegum Sans', cursive;
}

.description {
    position: absolute;
    top: 110px;
    right: 40px;
    width: 200px;
    height: 50px;
    background-color: rgba(225, 225, 225, 0.7);
    text-align: center;
    font-weight: 600;
    padding-top: 25px;
    visibility: hidden; /*will not be visible on the web page until mouse hover*/
}

#petGallery li:hover .description {
    visibility: visible; /*Displays description over mouse hover*/      
} 

/* Info box */
#info-box {
    width: 35%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.3em 1.2em;
    color: white;
    border-radius: 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#info-box #pet-name {
    /* font-weight: bold; */
    font-family: 'Bubblegum Sans', cursive;
    letter-spacing: 2px;
}

#info-box #more-info {
    font-size: 13px;
}

#info-box #close-link{
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 0, 0.8);
    text-align: center;
    padding: 15% 0;
    cursor: pointer;
}

.backdrop {
    z-index: 3;
    opacity: .0;
    filter: alpha(opacity=0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}

.box {
    z-index: 4;
    position: fixed;
    opacity: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;
}

.close {
    float: right;
    cursor: pointer;
}

.box img {
    width: 100%;
}

/*_________________ Contact Page _____________*/

.required-field::after {
    content: "*";
    color: red;
}

fieldset {
    padding: 30px;
    border-radius: 4px;
    border: 3px solid #fff;
    box-shadow: 2px 4px 7px 4px rgba(0, 0, 0, 0.2);
}

form label, textarea {
    display: block;
}

input[type=text], input[type=email], input[type=tel], select, textarea {
    padding: 12px 20px;
    margin-bottom: 25px;
    box-sizing: border-box;
    border: 1.5px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus {
    border: 1.5px solid #555;
  }

input[type=submit] {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 10px 15px;
    background-color: red;
    border: 1px solid white;
    color: white;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: white;
    border: 1px solid black;
    color: red;
}

select {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#email-input {
    display: none;
}

#phone-input {
    display: none;
}

/*_________________ Footer _____________*/

footer {
    background-color: aliceblue;
    text-align: center;
    margin-top: 50px;
}